<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/card.css">
    <title>Card</title>
</head>
<body>
    <div class="container">
        <div class="card__body">
            <div class="front">
                <div class="page">
                    
                </div>
                <button class="desc">Подробнее</button>
            </div>
            <div class="back">
                <p>Эта пара кроссовок было сделана в Италии компанией "WebDop", где производятся самые лучшие кроссовки на Земле. Она имеет уникальные пастилки, которые подстраиваются под стопы любых людей</p>
            </div>
        </div>
    </div>
</body>
</html>