<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
</head>
<body>
    
    <div class="card">
        <div class="front">
            <h1>Anime-chan</h1>
            <nav>
                <img src="/img/icon/vk.png" alt="VK">
                <img src="/img/icon/facebook.png" alt="facebook">
            </nav>
            <p>Your mother - is good mother</p>
        </div>
    </div>


</body>
</html>