<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'home_url' %}"><img src="media/photos/2022/09/02/g-700x390.jpg" alt="" width="50"></a>
    {% if request.path !=  '/Регистрация'  and request.path !=  '/Вход' and not user.is_authenticated %}
        <a href="{% url 'sign_in_url' %}">ВОЙТИ</a>
    {% endif %}
     {% if user.is_authenticated %}
        <a href="{% url 'sign_out_url' %}">ВЫЙТИ</a>
    {% endif %}

{% block content %}EMPTY CONTENT{% endblock %}
</body>
</html>