*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before, ::after{
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 42, 42);
}


a{
    text-decoration: none;
}


button{
    cursor: pointer;
    border: 0;
    background: none;
}



h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}


/* Card */


.card{
    width: 400px;
    height: 500px;
    background-image: url(../img/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.front{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleY(0);
    transition: .4s;
    transform-origin: bottom;
}
/* ////////////////////////////////// */



.card:hover .front{
    transform: scaleY(1);
}


.card:hover h1{
    transform: translateY(0);
    opacity: 1;
}

.card:hover nav{
    transform: translateY(0);
    opacity: 1;
}


.card:hover p{
    transform: translateY(0);
    opacity: 1;
}


h1, nav, p{
    transform: translateY(180px);
}








/* ///////////////////////////////////// */

h1{
    padding-top: 170px;
    transition: .6s;
    opacity: 0;
    transition-delay: .6s;
}

nav{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    transition: .8s;
    opacity: 0;
    transition-delay: .6s;
}

img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}


p{
    font-size: 20px;
    margin-top: 20px;
    transition: 1s;
    opacity: 0;
    transition-delay: .6s;
}